[Unit]
Description=WebControlCNC
After=network.target

[Service]
ExecStart=/usr/lib/webcontrolcnc/webcontrol
WorkingDirectory=/usr/lib/webcontrolcnc
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
